<div class="flex justify-content-between">
  <h2>Productos</h2>
  <p-button label="Añadir Producto" (click)="showAddModule()"></p-button>
</div>

<p-table [value]="products" [paginator]="true" [rows]="5">
  <ng-template pTemplate="header">
    <tr class="text-sm font-italic">
      <th>category</th>
      <th>title</th>
      <th>precio</th>
      <th>Imagen</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.category }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.price | currency }}</td>
      <td><img [src]="product.image" height="60px" class="border-round" /></td>
      <td><button pButton icon="pi pi-pencil" class="b-button-rounded p-button-success mr-2" (click)="showEditModal(product)"></button></td>
    </tr>
  </ng-template>
</p-table>

<app-add-edit-product [selectedProduct]="selectedProduct" [displayAddModule]="displayAddModule" (clickClose)="hideAddModal($event)" (clickAdd)="saveProductToList($event)"></app-add-edit-product>


<p-toast></p-toast>
<button type="button" pButton pRipple  label="Show" class="p-button-danger"></button>
