<div class="container m-5 animated fadeIn puntero">
    <div class="row ">
      <div (click)="verArtista(item)" *ngFor="let item of items" class="col m-1">
        <div class="card-columns d-flex mb-4">
          <div class="card" style="width: 18rem">
            <img
              [src]="item.images | noimage"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h3 *ngFor="let cancion of item.artists">
                {{ cancion.name }}<span class="badge bg-secondary"></span>
              </h3>
              <p class="card-text">{{ item.artists[0].name }}</p>
             
              <p class="card-text">{{ item.release_date }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  