<nav class="navbar navbar-expand-md negro boder-success">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand text-white" [routerLink]="['home']">Rick and Morty <strong>Api</strong></a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" [routerLink]="['home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" [routerLink]="['/episodios',]">episodios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-white" aria-disabled="true" [routerLink]="['/search',]">Buscar</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

 